<ul class="sidebar sticky-top">
  <div class="ul-1">
    <li routerLink="/"><i class="bi bi-house-door"></i></li>
    <li routerLink="/liked-videos"><i class="bi bi-hand-thumbs-up"></i></li>
    <li routerLink="/history"><i class="bi bi-clock-history"></i></li>
    <li routerLink="/my-videos"><i class="bi bi-camera-video"></i></li>
    <li><i class="bi bi-folder"></i></li>
    <li><i class="bi bi-person-check"></i></li>
  </div>
  <div class="ul-2">
    <li><i class="bi bi-question-circle"></i></li>
    <li><i class="bi bi-gear"></i></li>
  </div>
</ul>