.col-3 {
  padding-right: 0;
  border-right: 1px solid white; /* Remove default padding */
}
p{
  color: white;
  margin-bottom: 0;
}
.no-videos{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background: black;
  color: white;
  width: 16rem;
}
.card-body{
  padding-left: 0px;
  padding-right: 0px;
}
.cards {
  display: grid;
  grid-gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  overflow: hidden; 
  margin-top: 1rem;
}
.media-body h5{
  font-size: 1rem;
}
.media-body p{
  font-size: 0.75rem;
}
.card-img-top{
  width: 100%;
  height: 150px;
  object-fit: cover; 
}