/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@videogular/ngx-videogular/fonts/videogular.css";

body{
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.form-control.ng-invalid.ng-touched{
  border: 2px solid red;
}
.col-3 {
  padding-right: 0;
  border-right: 1px solid white; /* Remove default padding */
}